body {
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}
.background-three, .background-five {
    width: 100vw;
    height: 100vh;
}

.background-three {
    background: url('images/t3-bg3.jpg') no-repeat;
    background-size: 100% 100%;
}

.background-five {
    background: url('images/t3-bg5.png') no-repeat;
    background-size: 100% 100%;
}

/*had to separate the tops to visually work between gameboard sizes.*/
.board-one {
    top: 72.5%;
}
/*had to separate the tops to visually work between gameboard sizes.*/
.board-two {
    top: 73.5%;
}
/*centering gameboards.*/
.board-one, .board-two {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.col-xs-2 {
    width: 15vw;
    height: 15vh;
    margin-top: 1.6em;
}

.col-xs-1 {
    width: 10vw;
    height: 9.5vh;
    margin-top: 0.65em;
}
/*Using this class to hide elements. */
.hidden {
    display: none;
}
/* positioned absolute to avoid any troubles switching board size. */
.left{
    float: left;
    position: absolute;
}

.right {
    float: right;
}

/*  X and animation */
#container1 {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-bottom: 10%;
    position: relative;
}

#one1 {
    border-right: 3px solid green;
    width: 50%;
    height: 100%;
    -webkit-transform: skew(0) scale(0);
    position: absolute;
    transition: 2s;

}

#one2 {
    border-right: 3px solid green;
    width: 50%;
    height: 100%;
    -webkit-transform: skew(0) scale(0);;
    transition: 2s;

}

#container1:hover > #one2 {
    -webkit-transform: skew(45deg) scale(1);
}

#container1:hover > #one1 {
    -webkit-transform: skew(-45deg) scale(1);
}

/*  circle and animation */
#container2 {
    display: block;
    border: 1px solid black;
    width: 150px;
    height: 150px;

}

#two {
    border: 3px solid red;
    height: 95%;
    border-radius: 50%;
    transition: 2s;
    -webkit-transform: scale(0) rotateY(0);
}

#container2:hover > #two {
    -webkit-transform: scale(1) rotateY(360deg);
}

/* animation for gun  need to make a div wrapper for the gun with perspective*/
#target-box {
}

#pointer-wrap {
    /* this is going to be an image.. just a box for now*/

    width: 100%;
    height: 100%;
    position: absolute;
    left: 8%;
    top: 0em;
    -webkit-transform: rotateX(50deg);
}

#perspective {
    /*container for gun image*/
    height: 30%;
    width: 33%;
    -webkit-perspective: 900;
    position: absolute;
    top: 76%;
    left: 31%;
}

#pointer-guide {
    display: block;
    position: absolute;
    bottom: 320px;
    left: 51.5%;
    width: 1px;
    height: 116px;
    margin-left: -2px;
    background: rgba(0,0,0,0.0);
    border-right: 6px dashed green;
}

#pointer-wrap img {
    width: 100%;
    height: 100%;
    transform: rotateZ(90deg);
    position: absolute;
    top: 44%;
}


.sign {
    position: absolute;
    top: 73%;
    left: 2%;
}

.switch {
    position: absolute;
    top: 82%;
    left: 6%;
    transform: rotateY(50deg);
    background-color: #C47335;
    font-size: 2em;
    border: 1px solid black;
}

.reset {
    position: absolute;
    top: 80%;
    left: 11%;
    transform: rotateY(48deg);
    background-color: #C47335;
    font-size: 2em;
    border: 1px solid black;
}