body {
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}
.background-three, .background-five {
    width: 100vw;
    height: 100vh;
}

.background-three {
    background: url('images/t3-bg3.jpg') no-repeat;
    background-size: 100% 100%;
}

.background-five {
    background: url('images/t3-bg5.png') no-repeat;
    background-size: 100% 100%;
}

/*had to separate the tops to visually work between gameboard sizes.*/
.board-one {
    top: 46.5%;
}
/*had to separate the tops to visually work between gameboard sizes.*/
.board-two {
    top: 47%;
}
/*centering gameboards.*/
.board-one, .board-two {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 1s;
    cursor: crosshair;
}

.row {
    transition: 1s;
}

.col-xs-2 {
    width: 15vw;
    height: 15vh;
    margin-top: 1.6em;
}

.col-xs-1 {
    width: 10vw;
    height: 9.5vh;
    margin-top: 0.65em;
}
/*Using this class to hide elements. */
.hidden {
    display: none;
}
/* positioned absolute to avoid any troubles switching board size. */
.left{
    float: left;
    position: absolute;
}

.right {
    float: right;
}

/*  X and animation */
#container1 {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-bottom: 10%;
    position: relative;
}

.one1 {
    border-right: 8px solid #3B2750;
    width: 50%;
    height: 50%;
    -webkit-transform: skew(0) scale(0);
    position: absolute;
    transition: 2s;
    top: 39%;
    left: 0%;

}

.one2 {
    border-right: 7px solid #3B2750;
    width: 50%;
    height: 50%;
    position: absolute;
    -webkit-transform: skew(0) scale(0);
    transition: 2s;
    top: 39%;
    left: 3%;

}

.expand2{
    -webkit-transform: skew(45deg) scale(1);
}

.expand1 {
    -webkit-transform: skew(-45deg) scale(1);
}

/* O circle and animation */
#container2 {
    display: block;
    border: 1px solid black;
    width: 150px;
    height: 150px;

}

.two {
    position: absolute;
    border: 8px solid red;
    height: 40%;
    width: 30%;
    border-radius: 50%;
    transition: 2s;
    -webkit-transform: scale(0) rotateY(0);
    top: 44%;
    left: 35%;
}

.expandCircle {
    -webkit-transform: scale(1) rotateY(360deg);
}

/* animation for gun  need to make a div wrapper for the gun with perspective*/
#target-box {
}

#pointer-wrap {
    /* this is going to be an image.. just a box for now*/

    width: 100%;
    height: 100%;
    position: absolute;
    left: 8%;
    top: 0em;
    -webkit-transform: rotateX(50deg);
}

#perspective {
    /*container for gun image*/
    height: 30%;
    width: 33%;
    -webkit-perspective: 900;
    position: absolute;
    top: 76%;
    left: 31%;
}

#pointer-guide {
    display: block;
    position: absolute;
    bottom: 59px;
    left: 50%;
    width: 1px;
    height: 235px;
    margin-left: -2px;
    border-right: 4px solid rgb(16, 229, 10);
}

#pointer-wrap img {
    width: 100%;
    height: 165%;
    position: absolute;
    top: 35%;
}


.sign {
    position: absolute;
    top: 73%;
    left: 2%;
}

.switch {
    position: absolute;
    top: 82%;
    left: 6%;
    transform: rotateY(50deg);
    background-color: #C47335;
    font-size: 2em;
    border: 1px solid black;
}

.reset {
    position: absolute;
    top: 80%;
    left: 11%;
    transform: rotateY(48deg);
    background-color: #C47335;
    font-size: 2em;
    border: 1px solid black;
}
/*add this class for resetting the cards, setTimeout to remove class*/
.reset-row {
    transform: rotateX(90deg);
    transform-origin: 50% 100%;
}


@media screen and (max-width: 1280px) {
    .board-one {
        top: 38%;
}
